* {
    font-family: "Montserrat", sans-serif;
  }
  h1,
  h2 {
    font-family: "Crimson Text", serif;
  }
  h1 {
    font-size: 40px;
    margin: 20px;
  }
  
  header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100px;
    background-color: rgb(112, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: black;

  }

  a {
    color: black; 
    text-decoration: none; 
  }
  
  
  a:visited {
    color: blue; 
  }
  
  
  a:hover {
    color: #ff5733; 
    text-decoration: underline; 
  }
  
  
  a:focus {
    outline: 2px solid #007bff; 
  }
  
  
  a:active {
    color: #ff5733; 
  }
  
  main {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  
  li {
    display: inline;
    margin: 50px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgb(112, 0, 0);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #copyright,
  .mobileFeature {
    margin: 20px;
    font-size: 10px;
  }
  
  .mobileFeature {
    display: none;
  }

  
  @media (max-width: 500px) {
    li {
      display: inline;
      margin: 20px;
    }
    .mobileFeature {
      display: flex;
    }
  }
  