body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #6200ea;
    padding: 10px 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
  }
  
  .mdc-card {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .mdc-button {
    color: #6200ea;
    border: 1px solid #6200ea;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0;
  }
  
  .mdc-button:hover {
    background-color: #6200ea;
    color: white;
  }
  
  .mdc-text-field__input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    width: 100%;
  }
  

  
  footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
  
  .wagering-interface div {
    margin-bottom: 15px;
  }
  



ol li {
    position: relative;
    cursor: pointer;
}

ol li .card-value {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1; 
    display: none; 
}


ol li:hover .card-value {
    display: none;
}


ol li::before {
    
    position: absolute;
    top: -25px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
}


ol li:hover::before {
    display: none;
    content: attr(data-blackjack-value);
}



.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}


.button:hover {
    background-color: #0056b3;
}


.button::before {
    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;    
    padding: 15px;
    border-radius: 5px;
    font-size: 10px;
    display: none;
}


button:hover::before {
    display: none;
    content: attr(data-user-hints);
}



#betting {
    display: none;
}